.wraper{
  
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    gap: 1em;
   
    
    & > div{
       max-width: 100%;
       height: auto;
       height: 100vh;
       border-radius:2em;
       background:black;


    }

    & > div > img{
        object-fit: cover;
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 1rem;
    }

    
    & > div > p{
        background-color: green;
        color: white;
        text-transform: uppercase;
        font-family: monospace;
        font-weight: bold;
        font-size: 12px;

    
    }
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background-color: hsl(80, 90%, 29%);
    scroll-behavior: smooth;
    
}
.head{
    position: sticky;
    color: hsl(80, 90%, 29%);;
    top: 0;
    left: 0;
    height: 20vh;
    background-color: black;
    
}

main{
    margin-top: 30px;
}